<div class='section__chat--wrapper'>
    <div class="chat__display--wrapper">
        <div class="chat__display--inner" convert-emoji>

        </div>
    </div>
    <div class="chat__input--wrapper">
        <div id="emojionearea1" style="width: 100px;height:100px;background:dark"></div>
        <div class='input__image--wrapper'>
            <input type='file' class='send__image--input' />
            <i class="fal fa-images image__choose"></i>
        </div>
        <button class="send__message">
            <i class="fad fa-paper-plane"></i>
        </button>
    </div>
</div>