<div class='section__contact--wrapper'>
    <div class="user">
        <div class="user__search">
            <input type="text" class="user__input" placeholder="Tên bạn">
        </div>
    </div>
    <div class="contact">
        <div class="contact__search">
            <input type="text" class="contact__input" placeholder="Tên đối tác">
            <button class="contact__submit">
                <i class='fal fa-search'></i>
            </button>
        </div>
    </div>
    <div class="contact__result">
        <ul class="contact__list">

        </ul>
    </div>
</div>